{% extends 'account/base.html' %}
{% load account %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Confirm E-mail Address</h3>
                </div>
            </div>
            {% if confirmation %}
                {% include "allauth/account/forms/email_confirm_form.html" %}
            {% else %}
            <div class="kt-portlet__body">
                {% url 'account_email' as email_url %}
                <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}