{% extends 'account/base.html' %}
{% load breadcrumbs %}

{% block page_title %}
<h3 class="kt-subheader__title">Logout</h3>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Sign out" "account_logout" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Logout</h3>
                </div>
            </div>
            {% include "allauth/account/forms/logout_form.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_bottom_js %}
    {{ block.super }}
    {% include "allauth/account/forms/logout_form_js.html" %}
{% endblock %}