{% extends 'account/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
<h3 class="kt-subheader__title">Change Password</h3>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Change Password" "account_change_password" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Password changed</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <p>Your password is now changed.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}