{% extends 'account/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
<h3 class="kt-subheader__title">Reset Password</h3>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Password Reset" "account_reset_password" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Reset Password</h3>
                </div>
            </div>
            {% include "allauth/account/forms/password_reset_form.html" with form=form %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_bottom_js %}
    {{ block.super }}
    {% include "allauth/shared/parts/js/ajax_form_js.html" with formid="password_reset_form" error_msg="Could not reset password" hasCaptcha=True %}
{% endblock %}