{% extends 'account/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Reset Password</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>We have sent you an e-mail. You should receive it within a few minutes.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}