{% extends 'account/base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% block page_title %}
<h3 class="kt-subheader__title">Reset Password</h3>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Reset Password" "account_reset_password" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Request New Password</h3>
                </div>
            </div>
            {% include "allauth/account/forms/password_reset_form.html" with form=form %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_bottom_js %}
    {{ block.super }}
    <!-- page init -->
    <script src="{% static 'js/page/allauth/form.init.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            AllAuthForm.init("password_reset_form", "Could not reset password: Check Captacha or you mail address.", true);
        });
    </script>
{% endblock %}