{% extends 'account/base.html' %}
{% load account socialaccount %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Sign Up</h3>
                </div>
            </div>
            {% include "allauth/account/forms/signup_form.html" with form=form %}
        </div>
    </div>
</div>
{% endblock %}