{% extends 'account/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
<h3 class="kt-subheader__title">Sign Up</h3>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Sign Up" "signup_url" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Sign Up Closed</h3>
                </div>
            </div>
            <p>We are sorry, but the sign up is currently closed.</p>
        </div>
    </div>
</div>
{% endblock %}