{% extends 'account/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
<h3 class="kt-subheader__title">Verification</h3>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Sign Up" "signup_url" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Verification Sent</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <p>Verify Your E-mail Address</p>
                <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}