{% extends 'vadetisweb/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block head %}
{% endblock %}

{% block js_content %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb 'Account' 'vadetisweb:account' %}
{% endblock %}

{% block page_title %}
<h3 class="kt-subheader__title">Account</h3>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">User</h3>
                </div>
            </div>
            {% include "vadetisweb/account/forms/user_form.html" with form=form_user %}
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Password</h3>
                </div>
            </div>
            {% include "vadetisweb/account/forms/password_change_form.html" with form=form_password %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Social Account</h3>
                </div>
            </div>
            {% if form_social_disconnect.accounts %}
                <div class="kt-portlet__body">
                    <p>You can sign in to your account using any of the following third party accounts:</p>
                </div>
            {% else %}
                <div class="kt-portlet__body">
                    <p>You currently have no social network accounts connected to your Vadetis account.</p>
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list_logged_in.html" with process="connect" next=url_social_connect_success_redirect %}
                    </ul>
                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            {% endif %}
            {% if form_social_disconnect.accounts %}
                {% include 'vadetisweb/account/forms/social_disconnect_form.html' with form=form_social_disconnect %}
            {% endif %}
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Delete Account</h3>
                </div>
            </div>
            {% include "vadetisweb/account/forms/account_delete_form.html" with form=form_account_delete %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_bottom_js %}
    {{ block.super }}
    {% include "vadetisweb/parts/js/ajax_form_js.html" with formid="user_form" %}
    {% include "vadetisweb/parts/js/ajax_form_js.html" with formid="password_change_form" %}
    {% include "vadetisweb/parts/js/ajax_form_js.html" with formid="social_disconnect_form" %}
    {% include "vadetisweb/parts/js/ajax_form_js.html" with formid="account_delete_form" %}
{% endblock %}
