{% extends 'vadetisweb/base.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block head %}
{% endblock %}

{% block js_content %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb 'Account' 'vadetisweb:account' %}
{% endblock %}

{% block page_title %}
<h3 class="kt-subheader__title">Account</h3>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">User</h3>
                </div>
            </div>
            {% url 'vadetisweb:account_user_update' as user_account_url %}
            {% include 'vadetisweb/parts/forms/serializer_form.html' with formid="user_form" url=user_account_url serializer=user_serializer submit_label="Save" %}
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Password</h3>
                </div>
            </div>
            {% url 'vadetisweb:account_pwd_update' as password_update_url %}
            {% include 'vadetisweb/parts/forms/serializer_form.html' with formid="password_form" url=password_update_url serializer=password_update_serializer submit_label="Save" %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Social Account</h3>
                </div>
            </div>
            {% if form_social_disconnect.accounts %}
                <div class="kt-portlet__body">
                    <p>You can sign in to your account using any of the following third party accounts:</p>
                </div>
            {% else %}
                <div class="kt-portlet__body">
                    <p>You currently have no social network accounts connected to your Vadetis account.</p>
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list_logged_in.html" with process="connect" next=url_social_connect_success_redirect %}
                    </ul>
                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            {% endif %}
            {% if form_social_disconnect.accounts %}
                {% url 'vadetisweb:account' as social_disconnect_url %}
                {% include 'vadetisweb/parts/forms/serializer_form.html' with formid="social_disconnect_form" url=social_disconnect_url serializer=social_disconnect_serializer submit_label="Save" %}
            {% endif %}
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Delete Account</h3>
                </div>
            </div>
            {% url 'vadetisweb:account' as account_delete_url %}
            {% include 'vadetisweb/parts/forms/serializer_form.html' with formid="account_delete_form" url=account_delete_url serializer=delete_account_serializer submit_label="Delete Account" %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_bottom_js %}
    {{ block.super }}
    <!-- page init -->
    <script src="{% static 'js/page/account/page.init.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            AccountPage.init("user_form", "password_form", "social_disconnect_form", "account_delete_form");
        });
    </script>
{% endblock %}
