{% extends 'vadetisweb/base.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load rest_framework %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/lib/ion-rangeslider/ion.rangeSlider.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block form_media_css %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Application Settings" "vadetisweb:application_setting" %}
{% endblock %}

{% block page_title %}
    <h3 class="kt-subheader__title">Application Settings</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Settings</h3>
                    </div>
                </div>
                {% url 'vadetisweb:application_setting' as fromurl %}
                {% include 'vadetisweb/parts/forms/serializer_form.html' with formid="application_setting_form" url=fromurl submit_label="Save" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_bottom_js %}
    {{ block.super }}
    <!-- page extensions -->
    {% include 'vadetisweb/parts/includes/ion_rangeslider_js.html' %}
    <script src="{% static 'js/custom/form.extensions.js' %}" type="text/javascript"></script>
    <!-- page init -->
    <script src="{% static 'js/page/allauth/form.init.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#application_setting_form' + ' [data-type="single"]').each(function () {
                IonRangeSliderInitializer.init(this.id);
            });
            ApplicationSettingsForm.init("application_setting_form", "json");
        });
    </script>
{% endblock %}
