{% extends 'vadetisweb/base.html' %}
{% load static %}
{% load breadcrumbs %}
{% load rest_framework %}

{% block form_media_css %}
    {{ block.super }}
    <!-- begin:: Form Media CSS -->
    <link href="{% static 'css/lib/jquery-minicolors/jquery.minicolors.css' %}" rel="stylesheet" type="text/css"/>
    <!-- end:: Form Media CSS -->
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Application Settings" "application_settings" %}
{% endblock %}

{% block page_title %}
    <h3 class="kt-subheader__title">Application Settings</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Settings</h3>
                    </div>
                </div>
                {% include 'vadetisweb/account/forms/application_settings_form.html' with formid="application_settings_form" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_bottom_js %}
    {{ block.super }}
    {% include "vadetisweb/parts/ajax_form_js.html" with formid="application_settings_form" %}
{% endblock %}

{% block form_media_js %}
    {{ block.super }}
    <!-- begin:: Form Media Scripts -->
    <script src="{% static 'js/lib/jquery-minicolors/jquery.minicolors.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/jquery-minicolors/minicolors.init.js' %}" type="text/javascript"></script>
    <!-- end:: Form Media Scripts -->
{% endblock %}