#
# Requirements for Vadetis
#
django==2.2.7
django-extensions==2.2.9
ipython==7.13.0
jupyter==1.0.0
django-celery-results==1.2.1
django-picklefield==2.1.1
    django-recaptcha==2.0.6
mysqlclient==1.4.6
pandas==1.0.3
numpy==1.18.3
django-model-utils==4.0.0
kombu==4.6.8
celery==4.4.2
scipy==1.4.1
cython==0.29.16
confusable-homoglyphs==3.2.0
scikit-learn==0.22.2.post1
matplotlib==3.2.1
redis==3.4.1
django-allauth==0.41.0
django-rest-auth==0.9.5
djangorestframework==3.11.0
djangorestframework-datatables==0.5.2
markdown==3.2.1
django-filter==2.2.0
coreapi==2.3.3
pyyaml==5.3.1
drf-yasg==1.17.1
