<!DOCTYPE html>{% load static %}{% load vadetistags %}{% load django_bootstrap_breadcrumbs %}
<html lang="en">
<head>
    <title>Vadetis | Validator for Anomaly Detection in Times Series</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% include 'vadetisweb/parts/includes/head.html' %}
    {% block form_media_css %}
        {% if form %}
            <!-- begin:: Form Media CSS -->
            {{ form.media.css }}
            <!-- end:: Form Media CSS -->
        {% endif %}
    {% endblock %}
    {% block css %}
        {% include 'vadetisweb/parts/includes/css.html' %}
	{% endblock %}
    {% block head_js %}
        {% include 'vadetisweb/parts/includes/head_js.html' %}
	{% endblock %}
</head>

<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-page--fixed kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--left kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="{% url 'vadetisweb:index' %}">
                <img alt="Logo" src="{% static 'img/global/logo.png' %}" style="max-height: 30px;"/>
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="mdi mdi-dots-vertical mdi-24px"></i></button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
                    <div class="kt-container kt-container--fluid">

                        <!-- begin: Header Menu -->
                        <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="mdi mdi-close mdi-18px"></i></button>
                        <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
                            <button style="display: none;" class="kt-aside-toggler kt-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
                            <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                                <ul class="kt-menu__nav ">
                                    <li class="kt-menu__item kt-menu__item--rel"><a href="{% url 'vadetisweb:index' %}" class="kt-menu__link"><span class="kt-menu__link-text">Vadetis</span></a></li>
                                    <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Display</span></a>
                                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                            <ul class="kt-menu__subnav">
                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{% url 'vadetisweb:display_real_world_datasets' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Real-World Datasets</span></a></li>
                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{% url 'vadetisweb:display_synthetic_datasets' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Synthetic Datasets</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Detection</span></a>
                                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                            <ul class="kt-menu__subnav">
                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{% url 'vadetisweb:detection_real_world_datasets' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Real-World Datasets</span></a></li>
                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{% url 'vadetisweb:detection_synthetic_datasets' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Synthetic Datasets</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Suggestion</span></a>
                                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                            <ul class="kt-menu__subnav">
                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{% url 'vadetisweb:suggestion_real_world_datasets' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Real-World Datasets</span></a></li>
                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{% url 'vadetisweb:suggestion_synthetic_datasets' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Synthetic Datasets</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="kt-menu__item kt-menu__item--rel"><a href="{% url 'vadetisweb:faq' %}" class="kt-menu__link"><span class="kt-menu__link-text">FAQ</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- end: Header Menu -->

                        <!-- begin:: Logo -->
                        <div class="kt-header__brand  kt-grid__item" id="kt_header_brand">
                            <a class="kt-header__brand-logo" href="{% url 'vadetisweb:index' %}">
                                <img alt="Logo" src="{% static 'img/global/logo.png' %}" />
                            </a>
                        </div>
                        <!-- end:: Logo -->

                        <!-- begin:: Header Topbar -->
                        <div class="kt-header__topbar kt-grid__item">

                            <!--begin: Search -->
                            {% block search %}
                                {% include 'vadetisweb/parts/header/search.html' %}
                            {% endblock %}
                            <!--end: Search -->

                            <!--begin: Quick actions -->
                            {% block actions %}
                                {% include 'vadetisweb/parts/header/actions.html' %}
                            {% endblock %}
                            <!--end: Quick actions -->

                            <!--begin: User -->
                            {% block user %}
                                {% include 'vadetisweb/parts/header/user_navigation.html' %}
                            {% endblock %}
                            <!--end: User -->

                            <!--begin: Login -->
                            {% block login_block %}
                                {% include 'vadetisweb/parts/header/login_block.html' %}
                            {% endblock %}
                            <!--end: Login -->
                        </div>

                        <!-- end:: Header Topbar -->
                    </div>
                </div>

                <!-- end:: Header -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                    <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                            <!-- begin:: Subheader -->
                            <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                                <div class="kt-subheader__main">
                                    {% block page_title %}{% endblock %}
                                    <span class="kt-subheader__separator kt-hidden"></span>
                                    {% block breadcrumbs %}{% endblock %}
                                    {% block breadcrumbs_content %}{% render_breadcrumbs %}{% endblock %}
                                </div>
                            </div>
                            <!-- end:: Subheader -->

                            <!-- begin:: Content -->
                            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                                <div id="message-container">
                                    {% include 'vadetisweb/parts/messages.html' %}
                                </div>
                                <!--Begin::Main Content -->
                                {% block content %}{% endblock %}
                                <!--End::Main Content -->
                            </div>
                            <!-- end:: Content -->
                        </div>
                    </div>
                </div>

                <!-- begin:: Footer -->
                {% block footer %}
                    {% include 'vadetisweb/parts/footer/footer.html' %}
                {% endblock %}
                <!-- end:: Footer -->
            </div>
        </div>
    </div>
    <!-- end:: Page -->

    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="mdi mdi-arrow-up-bold mdi-24px"></i>
    </div>
    <!-- end::Scrolltop -->
    {% block bottom_js %}
        {% include 'vadetisweb/parts/includes/bottom_js.html' %}
        <script type="text/javascript">
            var KTQuickSearchMobile = KTQuickSearch;
            jQuery(document).ready(function () {
                if (KTUtil.get('kt_quick_search_default')) {
                    KTQuickSearch().init(KTUtil.get('kt_quick_search_default'), "{% url 'vadetisweb:dataset_search' %}");
                }
                if (KTUtil.get('kt_quick_search_inline')) {
                    KTQuickSearchMobile().init(KTUtil.get('kt_quick_search_inline'), "{% url 'vadetisweb:dataset_search' %}");
                }
            });
        </script>
	{% endblock %}
    {% block additional_bottom_js %}
    {% endblock %}
    {% block form_media_js %}
        {% if form %}
            <!-- begin:: Form Media Scripts -->
            {{ form.media.js }}
            <!-- end:: Form Media Scripts -->
        {% endif %}
    {% endblock %}
</body>
</html>
