{% extends 'vadetisweb/base.html' %}
{% load django_bootstrap_breadcrumbs %}{% load static %}

{% block head %}
{% endblock %}

{% block js_content %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "FAQ" "vadetisweb:faq" %}
{% endblock %}

{% block page_title %}
    <h3 class="kt-subheader__title">Frequently Asked Questions</h3>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="kt-portlet kt-faq-v1">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-3">
                    <ul class="kt-nav" id="kt_nav" role="tablist">
                        <li class="kt-nav__item  kt-nav__item--active">
                            <a id="general_link" href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">General</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a id="dataset_link" href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Dataset</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a id="detection_link" href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Detection</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a id="injection_link" href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Injection</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a id="recommendation_link" href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Recommendation</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="faq_content" class="col-xl-9">
                    {% include 'vadetisweb/parts/faq/general.html' with hide=False %}
                    {% include 'vadetisweb/parts/faq/dataset.html' with hide=True %}
                    {% include 'vadetisweb/parts/faq/detection.html' with hide=True %}
                    {% include 'vadetisweb/parts/faq/injection.html' with hide=True %}
                    {% include 'vadetisweb/parts/faq/recommendation.html' with hide=True %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_bottom_js %}
    <!-- page init -->
    <script src="{% static 'js/page/faq/page.init.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FaqPage.init();
        });
    </script>
{% endblock %}