{% extends 'vadetisweb/base.html' %}
{% load django_bootstrap_breadcrumbs %}{% load static %}

{% block head %}
{% endblock %}

{% block js_content %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "FAQ" "vadetisweb:faq" %}
{% endblock %}

{% block page_title %}
    <h3 class="kt-subheader__title">Frequently Asked Questions</h3>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="kt-portlet kt-faq-v1">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    FAQ Example
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-3">
                    <ul class="kt-nav" id="kt_nav" role="tablist">
                        <li class="kt-nav__item  kt-nav__item--active">
                            <a class="kt-nav__link" role="tab" id="kt_nav_link_1" data-toggle="collapse" href="#kt_nav_sub_1" aria-expanded="false">
                                <span class="kt-nav__link-text">eCommerce Orders</span>
                                <span class="kt-nav__link-arrow"></span>
                            </a>
                            <ul class="kt-nav__sub show" id="kt_nav_sub_1" role="tabpanel" aria-labelledby="m_nav_link_1" data-parent="#kt_nav" style="">
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-bullet kt-nav__link-bullet--line"><span></span></span>
                                        <span class="kt-nav__link-text">New</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-bullet kt-nav__link-bullet--line"><span></span></span>
                                        <span class="kt-nav__link-text">Pending</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-bullet kt-nav__link-bullet--line"><span></span></span>
                                        <span class="kt-nav__link-text">Replied</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">User Account</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Delivery & Shipping</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Customer Support</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Payment Methods</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Delivery Rules</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <span class="kt-nav__link-text">Refund Policy</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-9">
                    <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample1">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                    Updates and bug fixes are included in the cost of ALL items.
                                </div>
                            </div>
                            <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                <div class="card-body">
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                                        not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of
                                    </p>
                                    <p>
                                        Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false"
                                     aria-controls="collapseTwo1">
                                    Impact on buyers who bought before the new item support policy.
                                </div>
                            </div>
                            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                                <div class="card-body">
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                                        not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of
                                    </p>
                                    <p>
                                        Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false"
                                     aria-controls="collapseThree1">
                                    Extending and Renewing Item Support.
                                </div>
                            </div>
                            <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample1">
                                <div class="card-body">
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                                        not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of
                                    </p>
                                    <p>
                                        Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
