{% load rest_framework %}
{% if field.errors %}
    <div class="form-group error validated {{ style.class }}">
        {% for key, text in field.choices|items %}
            <div class="{% if style.inline %}checkbox-inline{% else %}checkbox{% endif %}">
                <label class="kt-checkbox">
                    <input{% if style.id %} id="{{ style.id }}" {% endif %}  type="checkbox" name="{{ field.name }}"
                                            {% if style.input_class %}class="{{ style.input_class }}"{% endif %} value="{{ key }}"
                                            {% if key|as_string in field.value|as_list_of_strings %}checked{% endif %}>
                    {{ text }}
                    <span></span>
                </label>
            </div>
        {% endfor %}
        <div class="invalid-feedback">
            {% for error in field.errors %}{{ error }}{% endfor %}
        </div>
        {% if field.help_text %}
            <span class="form-text text-muted">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% else %}
    <div class="form-group {{ style.class }}">
        {% for key, text in field.choices|items %}
            <div class="{% if style.inline %}checkbox-inline{% else %}checkbox{% endif %}">
                <label class="kt-checkbox">
                    <input{% if style.id %} id="{{ style.id }}" {% endif %} type="checkbox" name="{{ field.name }}"
                                            {% if style.input_class %}class="{{ style.input_class }}"{% endif %} value="{{ key }}"
                                            {% if key|as_string in field.value|as_list_of_strings %}checked{% endif %}>
                    {{ text }}
                    <span></span>
                </label>
            </div>
        {% endfor %}
        {% if field.help_text %}
            <span class="form-text text-muted">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% endif %}
