{% load rest_framework %}
{% if field.errors %}
    <div class="form-group error {{ style.class }}">
        <label>{{ field.label }}</label><label>{{ field.label }}{% if field.help_text and style.help_text_in_popover %}<a tabindex="0" class="btn" role="button" data-toggle="kt-popover" data-placement="top" data-trigger="focus" data-content="{{ field.help_text }}"><i class="mdi mdi-information-outline mdi-18px"></i></a>{% endif %}</label>
        <select{% if style.id %} id="{{ style.id }}" {% endif %} class="form-control custom-select {{ style.input_class }}" name="{{ field.name }}" onchange="onChangeAjaxSubmit(this.form, 'anomaly_algorithm_form', 'form_append_container');">
            {% if field.allow_null or field.allow_blank %}
                <option value="" {% if not field.value %}selected{% endif %}>--------</option>
            {% endif %}
            {% for select in field.iter_options %}
                {% if select.start_option_group %}
                    <optgroup label="{{ select.label }}">
                        {% elif select.end_option_group %}
                    </optgroup>
                {% else %}
                    <option value="{{ select.value }}"
                            {% if select.value|as_string == field.value|as_string %}selected{% endif %}
                            {% if select.disabled %}disabled{% endif %}>{{ select.display_text }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <span class="help-inline">
            {% for error in field.errors %}{{ error }}{% endfor %}
        </span>
        {% if field.help_text and not style.help_text_in_popover %}
            <span class="form-text text-muted">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% else %}
    <div class="form-group {{ style.class }}">
        <label>{{ field.label }}{% if field.help_text and style.help_text_in_popover %}<a tabindex="0" class="btn" role="button" data-toggle="kt-popover" data-placement="top" data-trigger="focus" data-content="{{ field.help_text }}"><i class="mdi mdi-information-outline mdi-18px"></i></a>{% endif %}</label>
        <select{% if style.id %} id="{{ style.id }}" {% endif %} class="form-control custom-select {{ style.input_class }}" name="{{ field.name }}" onchange="onChangeAjaxSubmit(this.form, 'anomaly_algorithm_form', 'form_append_container');">
            {% if field.allow_null or field.allow_blank %}
                <option value="" {% if not field.value %}selected{% endif %}>--------</option>
            {% endif %}
            {% for select in field.iter_options %}
                {% if select.start_option_group %}
                    <optgroup label="{{ select.label }}">
                        {% elif select.end_option_group %}
                    </optgroup>
                {% else %}
                    <option value="{{ select.value }}"
                            {% if select.value|as_string == field.value|as_string %}selected{% endif %}
                            {% if select.disabled %}disabled{% endif %}>{{ select.display_text }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if field.help_text and not style.help_text_in_popover %}
            <span class="form-text text-muted">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% endif %}
