{% if field.errors %}
    <div class="form-group error validated {{ style.class }}">
        <label>{{ field.label }}</label>
            <input{% if style.id %} id="{{ style.id }}" {% endif %} name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control {{ style.input_class }}"{% endif %} type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if field.value is not None %}value="{{ field.value }}"{% endif %} {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}{% if style.step %} step="{{ style.step }}"{% endif %}{% if style.min %} min="{{ style.min }}"{% endif %}{% if style.max %} max="{{ style.max }}"{% endif %}>
        <div class="invalid-feedback">
            {% for error in field.errors %}{{ error }}{% endfor %}
        </div>
        {% if field.help_text %}
            <span class="form-text text-muted">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% else %}
    <div class="form-group {{ style.class }}">
        <label>{{ field.label }}</label>
            <input{% if style.id %} id="{{ style.id }}" {% endif %} name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control {{ style.input_class }}"{% endif %} type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if field.value is not None %}value="{{ field.value }}"{% endif %} {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}{% if style.step %} step="{{ style.step }}"{% endif %}{% if style.min %} min="{{ style.min }}"{% endif %}{% if style.max %} max="{{ style.max }}"{% endif %}>
        {% if field.help_text %}
            <span class="form-text text-muted">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% endif %}
