<!-- BEGIN AJAX FORM JS -->
<script type="text/javascript">
    $('#{{ formid }}').on('submit', function (event) {
        event.preventDefault();
        clear_messages();

        $.post({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            type: $(this).attr('method'),
            success: function (data, status, xhr) {
                if (data.location) {
                    window.location = data.location;
                }
            },
            error: function (data, status, xhr) {
                console.error("Sending asynchronous failed");
                {% if error_msg %}
                print_messages(JSON.parse('[{ "message":"{{ error_msg }}", "level_tag":"error"}]'));
                {% endif %}
                {% if hasCaptcha is True %}
                grecaptcha.reset();
                {% endif %}
            }
        });
    });
</script>
<!-- END AJAX FORM JS -->