<!-- BEGIN AJAX FORM JS -->
<script type="text/javascript">
    $('#{{ formid }}').on('submit', function (event) {
        event.preventDefault();
        clearMessages();

        $.post({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            type: $(this).attr('method'),
            success: function (data, status, xhr) {
                 handleRedirect(xhr);
            },
            error: function (data, status, xhr) {
                printMessages([{'message': "Request failed"}], "error-request");
                {% if error_msg %}
                printGroupedMessages(JSON.parse('[{ "message":"{{ error_msg }}", "level_tag":"error"}]'));
                {% endif %}
                {% if hasCaptcha is True %}
                grecaptcha.reset();
                {% endif %}
            }
        });
    });
</script>
<!-- END AJAX FORM JS -->