SECRET_KEY=

# Needs to match db-variables.env
DATABASE_URL=psql://vadetis:password@db:5432/vadetis

EMAIL_URL=smtp+tls://vadetis:password@mailserver.com:587
EMAIL_ADDRESS=vadetis@mailserver.com

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

MAPBOX_USER=username
MAPBOX_ACCOUNT=user@example.com
MAPBOX_PW=
MAPBOX_TOKEN=
