<div id="{{ id }}" class="kt-portlet kt-portlet--collapsed" data-ktportlet="true">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{ title }}</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group">
                <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-default btn-icon-md"><i class="mdi mdi-chevron-down mdi-18px"></i></a>
            </div>
            <div class="kt-portlet__head-group ml-1">
                <a href="#" data-ktportlet-tool="remove" class="btn btn-sm btn-icon btn-default btn-icon-md"><i class="mdi mdi-close mdi-18px"></i></a>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-sm table-head-bg-brand">
                <thead class="thead-inverse">
                    <tr>
                        <th>Maximize Score</th>
                        <th>Selected Threshold</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="{{ id }}_maximized_score">{{ maximized_score }}</td>
                        <td id="{{ id }}_threshold">{{ threshold }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div id="{{ img_1_id }}" {% if content_class %}class="{{ content_class }}"{% endif %}></div></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div id="{{ img_2_id }}" {% if content_class %}class="{{ content_class }}"{% endif %}></div></div>
        </div>
    </div>
</div>