{% extends "socialaccount/base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
<h3 class="kt-subheader__title">Social Network Login Failure</h3>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Sign In" "login_url" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Error</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <p>An error occurred while attempting to login via your social network account.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}