{% load static %}
<!-- begin::Global Config -->
		<script>
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#591df1",
						"light": "#ffffff",
						"dark": "#282a3c",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
						"shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
					}
				}
			};
		</script>
<!-- end::Global Config -->
<!-- begin:: Global Plugins Scripts -->
<script src="{% static 'js/lib/popper-js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/perfect-scrollbar/perfect-scrollbar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/js-cookie/js-cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/tooltip-js/tooltip.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/sticky/sticky.min.js' %}" type="text/javascript"></script>
<!-- end:: Global Plugins Scripts -->
<!-- begin::Global Scripts -->
<script src="{% static 'js/global/scripts.js' %}" type="text/javascript"></script>
<!-- end::Global Script -->
{% block form_media_js %}
    {% if form %}
        <!-- begin:: Form Media Scripts -->
        {{ form.media.js }}
        <!-- end:: Form Media Scripts -->
    {% endif %}
{% endblock %}