{% load static %}
<div class="dropdown-menu dropdown-menu-right">
    <ul class="kt-nav">
        {% if display_link or detection_link or recommendation_link or outlier_analysis_link %}
        <li class="kt-nav__section kt-nav__section--first">
            <span class="kt-nav__section-text">Navigation</span>
        </li>
        {% if display_link %}
        <li class="kt-nav__item">
            <a href="{{ display_link }}" class="kt-nav__link">
                <span class="kt-nav__link-text">Display</span>
            </a>
        </li>
        {% endif %}
        {% if detection_link %}
        <li class="kt-nav__item">
            <a href="{{ detection_link }}" class="kt-nav__link">
                <span class="kt-nav__link-text">Detection</span>
            </a>
        </li>
        {% endif %}
        {% if recommendation_link %}
        <li class="kt-nav__item">
            <a href="{{ recommendation_link }}" class="kt-nav__link">
                <span class="kt-nav__link-text">Recommendation</span>
            </a>
        </li>
        {% endif %}
        {% if outlier_analysis_link %}
        <li class="kt-nav__item">
            <a href="{{ outlier_analysis_link }}" class="kt-nav__link">
                <span class="kt-nav__link-text">Outlier Analysis</span>
            </a>
        </li>
        {% endif %}
        {% endif %}
        <li class="kt-nav__section kt-nav__section--first">
            <span class="kt-nav__section-text">Download</span>
        </li>
        <li class="kt-nav__item">
            <a id="download_csv" href="#" class="kt-nav__link">
                <i class="mdi mdi-18px mdi-file-table-outline kt-nav__link-icon"></i>
                <span class="kt-nav__link-text">Download CSV</span>
            </a>
        </li>
        <li class="kt-nav__item">
            <a id="download_json" href="#" class="kt-nav__link">
                <i class="mdi mdi-18px mdi-json kt-nav__link-icon flaticon2-settings"></i>
                <span class="kt-nav__link-text">Download JSON</span>
            </a>
        </li>
    </ul>
</div>