{% load rest_framework %}
<!-- begin:: Settings Form -->
<form id="{{ formid }}" class="kt-form" method="POST" action="{% url 'vadetisweb:application_settings' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="kt-portlet__body">
    {% render_form serializer %}
    </div>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
<!-- end:: Settings Form -->