<!-- begin:: Social Disconnect Form -->
<form id="social_disconnect_form" class="kt-form" method="POST" action="{% url 'vadetisweb:account' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="kt-portlet__body">
        {% if form.non_field_errors %}
            <div class="form-group form-group-last">
                <div class="alert alert-secondary" role="alert">
                    <div class="alert-icon"><i class="mdi mdi-alert-outline mdi-24px"></i></div>
                    <div class="alert-text">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% for base_account in form.accounts %}
        {% with base_account.get_provider_account as account %}
        <div class="form-group">
            <div class="col-md-1 controls">
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
            </div>
            <label class="col-md-11" for="id_account_{{ base_account.id }}">
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                {{ account }}
            </label>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <button type="submit" class="btn btn-primary">Remove</button>
        </div>
    </div>
</form>
<!-- end:: Social Disconnect Form -->